/* the styles for the main */

article h1{
	padding-top: .25em;
	padding-bottom: .5em;
}

/*article img{
	float: left;
	margin: .5em .5em .5em .5em;
	border: 1px solid black;
}*/
article p{
	padding-top: .5em;
	padding-bottom: .75em;
}
article div{
	margin-right: 1em;
	border-bottom: 2px solid rgb(151, 44, 44)
}
article div h2{
	text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
}
article div p{
	padding-bottom: .25em;
}








